.CampaignObjective_custom_font{
    font-family: Arial, Helvetica, sans-serif
}
.CampaignObjective_custom_font_heading{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 16px;
}

.CampaignObjective_align_right {
    text-align: right;
}

.CampaignObjective_custom_font_faq {
    font-family: Arial, Helvetica, sans-serif;
    color: #5252cf;
    font-size: small;
    text-decoration: underline;

}