.NewCampaign_box_positioning {
    display: flex;
    justify-content: center;
    margin-top:15%;
}

.NewCampaign_layout { 
    width: 450px;
    height: 400px;
    border-radius:25px !important;
    justify-content: center;
    display: flex;
    padding-top:10%;
}

.NewCampaign_search_width {
    width:280px;
}
