
.NewCampaign_box_positioning {
    display: flex;
    justify-content: center;
    margin-top:15%;
}

.NewCampaign_layout_find { 
    width: 450px;
    height: 350px;
    border-radius:25px !important;
    justify-content: center;
    display: flex;
    padding-top:15%;
}

.NewCampaign_layout_objective { 
    width: 450px;
    height: 350px;
    border-radius:25px !important;
    justify-content: center;
    display: flex;
    padding-top:3%;
    padding-left:3%;
    padding-right:3%;
}


.NewCampaign_layout_dates { 
    width: 650px;
    height: 350px;
    border-radius:25px !important;
    display: flex;
    padding-top:1%;
    padding-left:1%;
}