.CampaignDuration_layout {
  padding-left :5%; 
  padding-right :5%; 
}

.CampaignDuration_custom_font{
    font-family: Arial, Helvetica, sans-serif
}

.CampaignDuration_checkbox_center{
  align-content: center;
}

.CampaignDuration_text_center {
  text-align:center;
}

.CampaignDuration_label_center {
  display: flex;
  justify-content: center;
}
