.CampaignDuration_layout {
  padding-left :5%; 
  padding-right :5%; 
}

.CampaignDuration_custom_font{
    font-family: Arial, Helvetica, sans-serif
}

.CampaignDuration_label_center {
  display: flex;
  justify-content: center;
}

.CampaignDuration_custom_selector {
    width: 40%;
}