.FindInfluencer_box_positioning {
    display: flex;
    justify-content: center;
    margin-top:15%;
}

.FindInfluencer_layout { 
    width: 450px;
    height: 300px;
    border-radius:25px !important;
    justify-content: center;
    display: flex;
    padding-top:10%;
}

.FindInfluencer_search {
    width:280px;
    border-radius:25px !important;
}

.FindInfluencer_error_text {
    color: red;
    font-family: Arial, Helvetica, sans-serif
}


.FindInfluencer_layout { 
    width: 450px;
    height: 350px;
    border-radius:25px !important;
    justify-content: center;
    display: flex;
    padding-top:15%;
}